body {
  margin: 0px;
  background-color: #dddddd;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
  font-size: 14pt;
  font-weight: 100;
}
.cheat {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  margin-top: 0px;
  height: 70px;
  color: #b92245;
  z-index: 2;
  box-shadow: 0px 0px 6px #333;
  background: black;
}
.title {
  margin-left: 10%;
  padding-top: 10px;
  font-weight: 900;
  font-size: 150%;
  color: #ffffff;
}
.title a {
  color: #ffffff;
}
.about {
  margin-left: 200px;
  font-size: 110%;
  color: #eee;
}
.about a {
  color: #ffffff;
}
.content {
  margin-top: 140px;
  margin-left: 15%;
  width: 650px;
  background-color: white;
  padding: 20px 120px 40px 60px;
  box-shadow: 0px 0px 6px #333;
}
.content h2 {
  margin-top: 50px;
}
h1,
h2 {
  color: #69a7d3;
}
small {
  margin-left: 20px;
  font-weight: 400;
  font-size: 60%;
  color: gray;
}
h2 {
  font-size: 160%;
}
a {
  color: #fb2379;
  font-weight: 400;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.images {
  margin-bottom: 20px;
}
em {
  font-weight: 300;
}
strong {
  font-weight: 400;
}
